<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Ресторан</title>
</head>
<body>
    <!--Navbar menu-->
    <div class="container">
        <div class="navbar">
            <ul class="navbar-menu">
                <li class="navbar-element"><a href="">Меню</a></li>
                <li class="navbar-element"><a href="">Забронировать столик</a></li>
                <li class="navbar-element"><a href="">О нас</a></li>
            </ul>
        </div>
    </div>

    <!--Main section with the image-->
    <div class="main-section">
        <div class="container main-section-container">
            <div class="main-section-content">
                <p class="main-section-text">Ресторан "Кантина"</p>
                <p class="main-section-subtext">Большинство отличных независимых граждан посещает это популярное место, хотя многие могут позволить себе и нечто получше. Но они могут здесь свободно говорить.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer">
            <div class="footer-tel_address">
                <p class="footer-address">ул. 8 Марта, 43</p>
                <ul class="tel">
                    <li class="tel-element">+79-111-11-1111</li>
                    <li class="tel-element">+79-222-22-2222</li>
                    <li class="tel-element">+79-333-33-3333</li>
                </ul>
            </div>
            <div class="footer-worktime">
                <ul class="worktime">
                    <li class="workday">пн: 10:00 - 22:00</li>
                    <li class="workday">вт: 10:00 - 21:00</li>
                    <li class="workday">ср: 8:00 - 20:00</li>
                    <li class="workday">чт: 8:00 - 20:00</li>
                    <li class="workday">пт: 12:00 - 24:00</li>
                    <li class="workday">сб: 12:00 - 24:00</li>
                    <li class="workday">вс: 12:00 - 24:00</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>